<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitPub</title>
</head>
<body>
    <h1>At foo bar</h1>
    <style>
        body {
            color: purple;
            background-color: grey;
            text-transform: capitalize;
        }
    </style>

    <h2><%= meal.name; %></h2><br>
    <h3>$<%=meal.price%></h3><br>
    <img src="<%= meal.image %>.png" />
    <br>
    <a href="/food/">Res.Redirect(Food)</a>
   
</body>
</html>